<div class="Checkbox">
    <div class="Checkbox_content Checkbox_checker">
        <div class="Checkbox_content_side1">
            <span class="Checkbox_icon Checkbox_icon__checked">
                <img class="Checkbox_icon_img" src="/images/checkbox-checked.png" />
            </span>
            <span class="Checkbox_icon Checkbox_icon__not_checked">
                <img class="Checkbox_icon_img" src="/images/checkbox.png" />
            </span>
        </div>
        <div class="Checkbox_content_side2">
            <div class="Checkbox_label"></div>
        </div>
    </div>
    <div class="__invisible">
        <input class="Checkbox_ri" name="" />
    </div>
</div>