<div class="AboutDialog css_AboutDialog std_AboutDialog">
    <div class="table">
        <div class="table_td">
            <div class="AboutDialog_box css_AboutDialog_box">
                <div class="css_AboutDialog_box_container">
                    <div class="css_AboutDialog_box_content">
                        <div class="css_AboutDialog_box_content1">
                            <b>gdb-frontend</b> is a easy, flexible and extensionable gui debugger.
                            <br>
                            <br>
                            <a href="https://github.com/rohanrhu/gdb-frontend" target="_blank">
                                https://github.com/rohanrhu/gdb-frontend
                            </a>
                            <br>
                            <a href="https://oguzhaneroglu.com/projects/gdb-frontend/" target="_blank">
                                https://oguzhaneroglu.com/projects/gdb-frontend/
                            </a>
                            <br>
                            <br>
                            Licensed under MIT
                            <br>
                            Copyright (C) 2019, Oğuzhan Eroğlu (https://oguzhaneroglu.com/) <rohanrhu2@gmail.com>
                        </div>
                        <div class="css_AboutDialog_box_content2">
                            <div class="button1 AboutDialog_button__ok" tabindex="0">
                                ✔ Ok
                            </div>
                        </div>
                    </div>
                </div>
                <div class="css_AboutDialog_box_closeButton AboutDialog_button__ok">
                    ✖
                </div>
            </div>
        </div>
    </div>
</div>