<div class="AboutDialog css_AboutDialog std_AboutDialog">
    <div class="table">
        <div class="table_td">
            <div class="AboutDialog_box css_AboutDialog_box">
                <div class="css_AboutDialog_box_container">
                    <div class="css_AboutDialog_box_content">
                        <div class="css_AboutDialog_box_content1">
                            <b>gdb-frontend</b> is an easy, flexible and extensionable gui debugger.
                            <br>
                            <br>
                            <a href="https://github.com/rohanrhu/gdb-frontend/releases" target="_blank">
                                <img src="https://img.shields.io/github/release/rohanrhu/gdb-frontend.png?style=flat-square&color=informational" />
                            </a>
                            <br>
                            <br>
                            Version: <span class="AboutDialog_version"></span>
                            <br>
                            <br>
                            <a href="https://github.com/rohanrhu/gdb-frontend" target="_blank">
                                https://github.com/rohanrhu/gdb-frontend
                            </a>
                            <br>
                            <a href="https://oguzhaneroglu.com/projects/gdb-frontend/" target="_blank">
                                https://oguzhaneroglu.com/projects/gdb-frontend/
                            </a>
                            <br>
                            <br>
                            Licensed under <a href="https://github.com/rohanrhu/gdb-frontend/blob/master/LICENSE" target="_blank">GNU/GPLv3</a>.
                            <br>
                            Copyright (C) 2019, Oğuzhan Eroğlu (https://oguzhaneroglu.com/) <rohanrhu2@gmail.com>
                            <br>
                            <br>
                            Third Party Licenses:
                            <br>
                            Gotty: bin/gotty - bin/gotty.LICENSE
                            <br>
                            Ace Editor: frontend/thirdparty/ace - frontend/thirdparty/ace.LICENSE
                            <br>
                            SourceSansPro: frontend/thirdparty/sourcesanspro - frontend/thirdparty/sourcesanspro/OFL.txt
                            <br>
                            icofont: frontend/thirdparty/icofont - frontend/thirdparty/icofont.LICENSE
                        </div>
                        <div class="css_AboutDialog_box_content2">
                            <div class="button1 AboutDialog_button__ok" tabindex="0">
                                <i class="icofont-verification-check" style="margin-right: 5px;"></i> Ok
                            </div>
                        </div>
                    </div>
                </div>
                <div class="css_AboutDialog_box_closeButton AboutDialog_button__ok">
                    <i class="icofont-close-line"></i>
                </div>
            </div>
        </div>
    </div>
</div>