<div class="LinkedListVisualizer">
    <div class="LinkedListVisualizer_settings">
        <div class="LinkedListVisualizer_settings_setting LinkedListVisualizer_settings_setting__nextMember">
            <div class="LinkedListVisualizer_settings_setting_label">
                Next Member
            </div>
            <div class="LinkedListVisualizer_settings_setting_input">
                <input class="LinkedListVisualizer_settings_setting_input_rI" value="next" placeholder="Next pointer member.." />
            </div>
        </div>
        <div class="LinkedListVisualizer_settings_setting LinkedListVisualizer_settings_setting__close">
            <div class="LinkedListVisualizer_settings_setting__close_button">
                <i class="icofont-close"></i>
            </div>
        </div>
    </div>
    <div class="LinkedListVisualizer_map">
        <div class="LinkedListVisualizer_items">
            <div class="LinkedListVisualizer_items_item __proto">
                <div class="LinkedListVisualizer_items_item_vE">
                </div>
                <div class="LinkedListVisualizer_items_item_nextLoading">
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </div>
                <div class="LinkedListVisualizer_items_item_next">
                    <div class="LinkedListVisualizer_items_item_next_icon">
                        <i class="icofont-long-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>