<div class="Disassembly">
    <div class="Disassembly_content">
        <div class="Disassembly_items">
            <div class="Disassembly_items_item __proto">
                <div class="Disassembly_items_item_bp">
                    <div class="Disassembly_items_item_bp_icon">
                    </div>
                </div>
                <div class="Disassembly_items_item_addr">
                    <span class="Disassembly_items_item_addr_val"></span>
                </div>
                <div class="Disassembly_items_item_asm">
                    <div class="Disassembly_items_item_asm_mnemonic"></div>
                    <div class="Disassembly_items_item_asm_expression"></div>
                </div>
            </div>
        </div>
    </div>
</div>