<div class="SourceTree">
    <div class="SourceTree_content">
        <div class="SourceTree_items">
            <div class="SourceTree_items_item __proto">
                <div class="SourceTree_items_item_icon SourceTree_items_item_icon__openedDir">📂</div>
                <div class="SourceTree_items_item_icon SourceTree_items_item_icon__closedDir">📁</div>
                <div class="SourceTree_items_item_icon SourceTree_items_item_icon__file">🗎</div>
                <div class="SourceTree_items_item_name"></div>
                <div class="SourceTree_items_item_items">
                </div>
            </div>
        </div>
    </div>
</div>