<div class="SourceTree">
    <div class="SourceTree_content">
        <div class="SourceTree_items">
            <div class="SourceTree_items_item __proto">
                <div class="SourceTree_items_item_button">
                    <div class="SourceTree_items_item_button_indent"></div>
                    <div class="SourceTree_items_item_icon SourceTree_items_item_icon__openedDir">
                        <i class="icofont-folder-open"></i>
                    </div>
                    <div class="SourceTree_items_item_icon SourceTree_items_item_icon__closedDir">
                        <i class="icofont-folder"></i>
                    </div>
                    <div class="SourceTree_items_item_icon SourceTree_items_item_icon__file">
                        <i class="icofont-code-alt"></i>
                    </div>
                    <div class="SourceTree_items_item_name"></div>
                </div>
                <div class="SourceTree_items_item_sub">
                    <div class="SourceTree_items_item_items">
                    </div>
                    <div class="SourceTree_items_item_line"></div>
                </div>
            </div>
        </div>
    </div>
</div>