<div class="Watches">
    <div class="Watches_content">
        <div class="Watches_items">
            <div class="Watches_items_item __proto">
                <div class="Watches_items_item_expression">
                    <div class="Watches_items_item_expression_content">
                        <div class="Watches_items_item_expression_input">
                            <input class="Watches_items_item_expression_input_rI" placeholder="expression" />
                        </div>
                    </div>
                </div>
                <div class="Watches_items_item_value">
                    <div class="Watches_items_item_value_content">
                        <div class="Watches_items_item_value_input">
                            <input class="Watches_items_item_value_input_rI" readonly="readonly" tabindex="-1" />
                        </div>
                    </div>
                </div>
                <div class="Watches_items_item_remove">
                    <i class="icofont-close-line"></i>
                </div>
            </div>
        </div>
    </div>
</div>