<div class="FileTabs">
    <div class="FileTabs_tabs">
        <div class="FileTabs_tabs_items">
            <div class="FileTabs_tabs_items_item __proto">
                <div class="FileTabs_tabs_items_item_isChanged">*</div>
                <div class="FileTabs_tabs_items_item_fileName">
                    ...
                </div>
                <div class="FileTabs_tabs_items_item_closeBtn">
                    <i class="icofont-close-line"></i>
                </div>
                <div class="FileTabs_tabs_items_item_pathTooltip">
                    <div class="FileTabs_tabs_items_item_pathTooltip_box">
                        <div class="FileTabs_tabs_items_item_pathTooltip_path">
                        </div>
                        <div class="FileTabs_tabs_items_item_pathTooltip_copyBtn">
                            <i class="icofont-copy"></i>
                        </div>
                        <div class="FileTabs_tabs_items_item_pathTooltip_box_arrow"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="FileTabs_editors">
        <div class="FileTabs_editors_content">
            <div class="FileTabs_editors_items">
                <div class="FileTabs_editors_items_item __proto">
                    <div class="FileTabs_editors_items_item_ace"></div>
                    <div class="FileTabs_editors_items_item_variablePopup" tabindex="1">
                        <div class="FileTabs_editors_items_item_variablePopup_variablesExplorerComp">
                            {html_variablesExplorer}
                        </div>
                    </div>
                </div>
            </div>
            <div class="FileTabs_editors_noItem">
                No opened source
            </div>
        </div>
    </div>
</div>