<div class="EvaulateExpression Movable">
    <div class="EvaulateExpression_window">
        <div class="EvaulateExpression_window_box">
            <div class="Movable_mover EvaulateExpression_window_mover"></div>
            <div class="EvaulateExpression_window_box_header">
                <div class="EvaulateExpression_window_box_header_line">
                    <div class="EvaulateExpression_window_box_header_expression">
                        <div class="EvaulateExpression_window_box_header_expression_input">
                            <input class="EvaulateExpression_window_box_header_expression_input_rI" spellcheck="false" placeholder="Expression.." />
                        </div>
                    </div>
                    <div class="EvaulateExpression_window_closeBtn EvaulateExpression_window_box_closeBtn">
                        <i class="icofont-close-line"></i>
                    </div>
                </div>
            </div>
            <div class="EvaulateExpression_window_box_content">
                <div class="EvaulateExpression_noValue">
                    <div class="EvaulateExpression_noValue_label">
                        No value
                    </div>
                </div>
                <div class="EvaulateExpression_value">
                    <div class="EvaulateExpression_variablesExplorerComp">
                        {html_variablesExplorer}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>