<div class="FileBrowser">
    <div class="table">
        <div class="table_td">
            <div class="FileBrowser_window">
                <div class="FileBrowser_window_box">
                    <div class="FileBrowser_window_box_header">
                        <div class="FileBrowser_window_box_header_line">
                            <div class="table">
                                <div class="table_td">
                                    Files
                                    <div class="FileBrowser_path"></div>
                                </div>
                            </div>
                            <div class="FileBrowser_window_closeBtn FileBrowser_window_box_closeBtn">
                                <div class="table">
                                    <div class="table_td">
                                        ✖
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="FileBrowser_cr">
                        <div class="FileBrowser_cr_c">
                            <div class="FileBrowser_items">
                                <div class="FileBrowser_items_parentBtn">
                                    📁 ..
                                </div>
                                <div class="FileBrowser_items_item __proto">
                                    <div class="FileBrowser_items_item_icon"></div>
                                    <div class="FileBrowser_items_item_name"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="FileBrowser_total">
                        <div class="FileBrowser_total_number"></div>
                        total
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>