<div class="EvaluateExpression Movable">
    <div class="EvaluateExpression_window">
        <div class="EvaluateExpression_window_box">
            <div class="Movable_mover EvaluateExpression_window_mover"></div>
            <div class="EvaluateExpression_window_box_header">
                <div class="EvaluateExpression_window_box_header_line">
                    <div class="EvaluateExpression_window_box_header_expression">
                        <div class="EvaluateExpression_window_box_header_expression_input">
                            <input class="EvaluateExpression_window_box_header_expression_input_rI" spellcheck="false" placeholder="Expression.." />
                        </div>
                    </div>
                    <div class="EvaluateExpression_window_box_header_btn EvaluateExpression_window_box_header_btn__signalEnabled">
                        <i class="icofont-sign-out"></i>
                    </div>
                    <div class="EvaluateExpression_window_box_header_btn EvaluateExpression_window_box_header_btn__slotEnabled">
                        <i class="icofont-sign-in"></i>
                    </div>
                    <div class="EvaluateExpression_window_closeBtn EvaluateExpression_window_box_closeBtn">
                        <i class="icofont-close-line"></i>
                    </div>
                </div>
            </div>
            <div class="EvaluateExpression_window_box_content">
                <div class="EvaluateExpression_noValue">
                    <div class="EvaluateExpression_noValue_label">
                        No value
                    </div>
                </div>
                <div class="EvaluateExpression_value">
                    <div class="EvaluateExpression_variablesExplorerComp">
                        {html_variablesExplorer}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>