<div class="ProcessManager Movable">
    <div class="ProcessManager_window">
        <div class="ProcessManager_window_box">
            <div class="Movable_mover ProcessManager_window_mover"></div>
            <div class="ProcessManager_window_box_header">
                <div class="ProcessManager_window_box_header_line">
                    <div class="ProcessManager_window_box_header_expression">
                        <div class="ProcessManager_window_box_header_expression_input">
                            <input class="ProcessManager_window_box_header_expression_input_rI" spellcheck="false" placeholder="PID, process name or command line.." />
                        </div>
                    </div>
                    <div class="ProcessManager_window_box_header_btn ProcessManager_window_box_header_btn__autoRefreshEnabled">
                        <i class="icofont-refresh"></i>
                    </div>
                    <div class="ProcessManager_window_closeBtn ProcessManager_window_box_closeBtn">
                        <i class="icofont-close-line"></i>
                    </div>
                </div>
            </div>
            <div class="ProcessManager_window_box_content">
                <div class="ProcessManager_noProcess">
                    <div class="ProcessManager_noProcess_label">
                        No process
                    </div>
                </div>
                <div class="ProcessManager_processes">
                    <div class="ProcessManager_processes_items">
                        <div class="ProcessManager_processes_items_item __proto">
                            <div class="ProcessManager_processes_items_item_pid ProcessManager_processes_items_item_col">
                            </div>
                            <div class="ProcessManager_processes_items_item_name ProcessManager_processes_items_item_col">
                            </div>
                            <div class="ProcessManager_processes_items_item_cmd ProcessManager_processes_items_item_col">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>