<div class="ThreadsEditor">
    <div class="ThreadsEditor_content">
        <div class="ThreadsEditor_items">
            <div class="ThreadsEditor_items_item __proto">
                <div class="ThreadsEditor_items_item_num">
                    <span class="ThreadsEditor_items_item_num_val"></span>
                </div>
                <div class="ThreadsEditor_items_item_function"></div>
                <div class="ThreadsEditor_items_item_location"></div>
            </div>
        </div>
    </div>
</div>