<div class="StackTrace">
    <div class="StackTrace_content">
        <div class="StackTrace_items">
            <div class="StackTrace_items_item __proto">
                <div class="StackTrace_items_item_num">
                    <span class="StackTrace_items_item_num_val"></span>
                </div>
                <div class="StackTrace_items_item_function"></div>
                <div class="StackTrace_items_item_location"></div>
            </div>
        </div>
    </div>
</div>