<div class="BreakpointsEditor">
    <div class="BreakpointsEditor_content">
        <div class="BreakpointsEditor_items">
            <div class="BreakpointsEditor_items_item __proto">
                <div class="BreakpointsEditor_items_item_check">
                    <div class="BreakpointsEditor_items_item_check_checkboxComp">
                        {html_checkbox}
                    </div>
                </div>
                <div class="BreakpointsEditor_items_item_loc">
                    <div class="BreakpointsEditor_items_item_loc_val">...</div>
                </div>
                <div class="BreakpointsEditor_items_item_remove">
                    <i class="icofont-close-line"></i>
                </div>
            </div>
        </div>
    </div>
</div>