<div class="FuzzyFinder FuzzyFinder std_FuzzyFinder">
    <div class="FuzzyFinder_box">
        <div class="FuzzyFinder_box_input">
            <input class="FuzzyFinder_box_input_rI" />
        </div>
        <div class="FuzzyFinder_box_items">
            <div class="FuzzyFinder_box_items_item __proto">
                <div class="FuzzyFinder_box_items_item_fileName">
                    ...
                </div>
                <div class="FuzzyFinder_box_items_item_path">
                    ...
                </div>
            </div>
        </div>
    </div>
</div>