<div class="VariablesExplorer">
    <div class="VariablesExplorer_content">
        <div class="VariablesExplorer_items">
            <div class="VariablesExplorer_items_item __proto">
                <div class="VariablesExplorer_items_item_button">
                    <div class="VariablesExplorer_items_item_button_openBtn">
                        <span class="VariablesExplorer_items_item_button_openBtn_icon VariablesExplorer_items_item_button_openBtn_icon__open">[+]</span>
                        <span class="VariablesExplorer_items_item_button_openBtn_icon VariablesExplorer_items_item_button_openBtn_icon__close">[-]</span>
                        <span class="VariablesExplorer_items_item_button_openBtn_icon VariablesExplorer_items_item_button_openBtn_icon__notOpenable"></span>
                    </div>
                    <div class="VariablesExplorer_items_item_button_isPointer">
                        ptr
                    </div>
                    <div class="VariablesExplorer_items_item_button_isNotPointer">
                    </div>
                    <div class="VariablesExplorer_items_item_button_preType">
                    </div>
                    <div class="VariablesExplorer_items_item_button_type"></div>
                    <div class="VariablesExplorer_items_item_button_name"></div>
                    <div class="VariablesExplorer_items_item_button_value"></div>
                </div>
                <div class="VariablesExplorer_items_item_openable">
                    <div class="VariablesExplorer_items_item_openable_loading">
                        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                    </div>
                    <div class="VariablesExplorer_items_item_openable_content">
                        <div class="VariablesExplorer_items_item_openable_items">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>