<div class="MessageBox css_MessageBox std_MessageBox">
    <div class="table">
        <div class="table_td">
            <div class="MessageBox_box css_MessageBox_box">
                <div class="css_MessageBox_box_container">
                    <div class="css_MessageBox_box_content">
                        <div class="css_MessageBox_box_content1">
                            <span class="MessageBox_text"></span>
                        </div>
                        <div class="css_MessageBox_box_content2">
                            <div class="button1 MessageBox_button__ok" tabindex="0">
                                <i class="icofont-verification-check" style="margin-right: 5px;"></i> Ok
                            </div>
                        </div>
                    </div>
                </div>
                <div class="css_MessageBox_box_closeButton MessageBox_button__no">
                    <i class="icofont-close-line"></i>
                </div>
            </div>
        </div>
    </div>
</div>